.title {
    color:rgb(6, 42, 161);
    font-weight: 900;
    text-align: center;
    font-size: 3em;    
}

.lista {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.subtitle {
    color:rgb(6, 42, 161);
    text-decoration: underline;
}

.texto {
    font-size: 1.3em;
    text-align: justify;
}

.rodapé {
    background-color: aqua;
    text-align: center;
}

#info {
    font-weight: bold;
    font-size: 1.2em;
}